*, *:before, *:after {
	box-sizing: inherit;
}

body {
	box-sizing: border-box;
	margin: 0 auto;
	// line-height: 1.5;
	// padding: 48px 12px;
}

h1 {
	padding-top: 10px;
	padding-bottom: 10px;
}

.watch-body {
	display: inline;
}

.Watch-img {
	width: 27%;
	padding: 20px 15px 20px 15px;
}

.intro {
	padding-top: 25px;
	padding-bottom: 35px;
	line-height: 20px;
}
